.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.mail_btn {
    text-align: center;
    margin-left: 400px;
}

.contact__form {
    background-color: white;
}